@tailwind base;
@tailwind components;
@tailwind utilities;

div {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}


div::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}